/* Horizontal quote block */

#block-castleschool-castleschool-block-quote-small {
    margin-left: 5%;
    margin-right: 5%;
}

#block-castleschool-castleschool-block-quote-small .ajax-progress-throbber {
    display: none
}

#block-castleschool-castleschool-block-quote-small .form-item-castleschool-quote-iwanttostudy {
    float: left;
}

#block-castleschool-castleschool-block-quote-small .form-item-castleschool-quote-months {
    float: left;
    margin-left: 5%;
}

#block-castleschool-castleschool-block-quote-small .form-item-castleschool-quote-day {
    float: left;
    margin-left: 5%;
}

#block-castleschool-castleschool-block-quote-small .form-item-castleschool-quote-weeks {
    float: left;
    margin-left: 5%;
}

#block-castleschool-castleschool-block-quote-small .form-submit {
    margin-top: 25px;
    float: left;
}

.castle-quote-wrapper {
    width: 200px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.castle-quote-total {
    display: block;
    font-size: xx-large;
    text-align: center;
}

.castle-quote-fees {
    display: block;
    font-size: small;
    text-align: center;
}

.castle-quote-accomm {
    font-size: x-small;
    display: block;
    text-align: center;
}

/* Choose your course */

#castleschool-quote-block-form #edit-submit-button {
    float: right;
    margin-bottom: 25px;
}

/* Search for accommodation */

#castleschool-search-for-accommodation-form #back_button {
    margin-right: 15px;
}

#castleschool-search-for-accommodation-form #edit-search-button {
    float: right;
    margin-bottom: 25px;
}

/* Choose Accommodation */

#castleschool-choose-accommodation-form #no_accommodation_button {
    float: right;
}

/* Airport transfers */

#castleschool-airport-transfers-form #edit-submit-button {
    float: right;
}

/* Quote overview */

.castleschool-quote-summary-price-item,
.castleschool-quote-summary-totalprice-item {
    width: 60%;
    float: left;
}

.castleschool-quote-summary-price-ammount,
.castleschool-quote-summary-totalprice-ammount {
    width: 40%;
    float: right;
    text-align: right;
}
