/* Choose your course */

#castleschool-choose-course-form #edit-submit-button {
    float: right;
    margin-bottom: 25px;
}
#castleschool-choose-course-form .ajax-progress-throbber {
    display: none
}