/* Choose Accommodation */

#castleschool-choose-accommodation-form #no_accommodation_button {
    float: right;
}

#castleschool-choose-accommodation-form td {
    vertical-align: middle;
}

#castleschool-choose-accommodation-form .accommodation-finding-fee {
    text-align: center;
    font-style: italic;
}
