/* Search for accommodation */

#castleschool-search-for-accommodation-form #back_button {
    margin-right: 15px;
}

#castleschool-search-for-accommodation-form #edit-search-button {
    float: right;
    margin-bottom: 25px;
}
